@keyframes slideInFromLeft {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slideInFromRight {
    from {
      transform: translateX(+100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

.profile-settings{
    height: 80vh;
    display: flex;
    flex-direction: row;
}

.profile-data{
    height: 100%;
    width: 30%;
    animation: slideInFromLeft 0.5s ease-out;
}

.profile-data-photo{
    height: 50%;
    display: flex;
    flex-direction: column;
}

.profile-data-data{
    height: 50%;
}

.profile-additional{
    height: 100%;
    width: 70%;
    background-color: var(--light-color);
    border-radius: 10vh;
    margin-right: 2vh;
    animation: slideInFromRight 0.5s ease-out;
}

.profile-data-photo{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #ccc;
}

.input-group{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-subGroup{
    margin-top: 2vh;
}

.email .textbox-input{
    background-color: var(--dark-color);
    color: var(--light-color);;
}

.input-subGroup button{
    margin-left: 2vh;
}

.input-subGroup button img{
    width: 1em; 
    height: auto; 
    margin-right: 0.5em; 
}

.input-subGroup{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.input-subGroupSave{
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.input-subGroupSave button{
    width: 60%;
}