.userjoin-container{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: row;
}

.userjoin-video{
    position: relative;
    width: 95vw;
    height: 100%;
}

.userjoin-videplayer-wrapper{
    background-color: var(--dark-color);;
    position: relative;
    width: 100%;
    height: 80vh;
}

.guest-userjoin-videplayer{
   
    background-color: var(--primary-color);;
    position: absolute;
    top: 0;
    left: 0;
}

.guest-guestjoin-videplayer{
    position: absolute;
    top: 2vh; 
    left: 1vw; 
    z-index: 10; 
    border-style: solid;
    border-width: 2px;
}