.personData{
    display: flex;
    height: 25vh;
    width: 30%;
    background-color: var(--light-color);
    border-radius: 50px;
    transition: transform 0.3s ease;
    margin: 20px;
}

.personData:hover{
    transform: translateY(-10px);
    cursor: pointer;
}

.personCard{
    height: 100%;
    width: 20vh;
    background-color: var(--dark-color);
    transition: transform 0.3s ease;
    margin-left: 50px;
    margin-right: 20px;
    text-align: center;
}

.personCard p {
    font-size: 0.8vw;
    color: var(--light-color);
}

.personCard-image-container{
    height: 80%;
}

.personCard-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.personCard-data-name {
    font-size: 0.8vw;
    height: 20%;
}



.personData-info{
    width: 80%;
    background-color: var(--light-color);
    margin-right: 50px;
    height: 90%;
}

.personData-info-role{
    width: 100%;
    background-color: var(--dark-color);
    color: var(--light-color);
    border-radius: 5px;
}

.personData-info-role p{
    margin-left: 25px;
    font-size: 1vw;
}

.personData-info-about{
    background-color: var(--light-color);
    height: 55%;
}

.personData-info-about p{
    font-size: 1vw;
}

.personData-info-confirm{
    background-color: var(--light-color);
    height: 20%;
    text-align: right;
    padding-right: 10px;
}

.personData-info-confirm button{
    background-color: var(--dark-color);
    color:var(--light-color);
    width: 30vh;
    height: 5vh;
    font-size: 1vw;
}

.personData-info-confirm button:hover{
    background-color: var(--secondary-color);
    color:var(--dark-color);
}
