.profile-tab-control{
    height: 5%;
    display: flex;
    flex-direction: row;
}

.profile-tab-control button{
    margin-left: 20px;
    border-radius: 0;
    margin-bottom: 20px;
}

.profile-tab-control .active {
    background-color:var(--dark-color);
    color: var(--light-color);
}

.profile-containers{
    height: 80vh;
    width: 100%;
}