  .nav-item-signout {
    margin-right: 20px;
    transition: transform 0.2s ease-in-out; 
  }
  
  .nav-item-signout:hover {
    transform: translateY(-5px); 
  }

  .nav-links-signout {
    color: var(--dark-color);
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
  }
  
  .nav-links-signout:hover {
    background-color: var(--danger-color);
    color: var(--light-color);
  }