.container-signup{
    display: flex;
    width: 100%;
    height: 91vh;
    overflow: hidden;
}

.container-fields {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 40%;
}

.container-fields .container-textbox{
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.password-strength-meter{
  width: 40%;
}

.container-image {
    margin-top: 5px;
    margin-bottom: 5px;
    flex: 0 0 auto; 
    background-color:var(--dark-color);
    width: 60%;
    animation: slideInSignUp 1s ease forwards;
  }

  .image-imgsrc-signup{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .signup-btn{
    width: 300px;
    height: 40px;
    color: var(--dark-color);
    font-size: 20px;
  }

  .error-message{
    margin-top: 3px;
    color: var(--danger-color);
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .error-message.show {
    opacity: 1;
  }

  .submission-message{
    margin-top: 5px;
    color: var(--danger-color);
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .submission-message.show {
    opacity: 1;
  }

  @keyframes slideInSignUp {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  .spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #333;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }