/* PasswordStrengthMeter.css */

.password-strength-meter {
    margin-top: 10px;
    text-align: center;
  }
  
  .progress {
    width: 100%;
    height: 20px;
    border: 5px solid var(--primary-color);
    border-radius: 5px;
  }
  
  .progress-1::-webkit-progress-value  {
    background-color: #ff3333; /* Very Weak */
  }
  
  .progress-2::-webkit-progress-value  {
    background-color: #ff8000; /* Weak */
  }
  
  .progress-3::-webkit-progress-value   {
    background-color: #ffff00; /* Moderate */
  }
  
  .progress-4::-webkit-progress-value   {
    background-color: #80ff00; /* Strong */
  }
  
  .progress-5::-webkit-progress-value   {
    background-color: #00ff00; /* Very Strong */
  }
  
  .strength-label {
    margin-top: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .strength-label.show {
    margin-top: 5px;
    color: var(--dark-color);
    opacity: 1;
  }
  